/* stylelint-disable no-descending-specificity */

.section.columns-container {
    padding-left: 0;
    padding-right: 0;
}

.columns > div {
    display: flex;
    flex-direction: column;
}

/* Variant 2 */

.columns.variant2 > div {
    height: 100%;
    align-items: stretch;
    text-align: center;
    font-family: 'Zahrah SemiBold Italic', 'zahrah-italic-600-fallback', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.columns.variant2 h2 {
    font-family: 'Zahrah SemiBold Italic', 'zahrah-italic-600-fallback', serif;
    font-size: 45px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: -1px;
    line-height: 35px;
    margin: 30px 0 10px;
}

.columns.variant2 > div > div > picture > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.columns.variant2.columns-2-cols > div > div:first-child {
    display: none;
}

/* Variant 3 */

.columns.variant3, .columns.variant3 > div {
    text-align: center;
    background: #f4e9e2;
    font-family: 'Zahrah SemiBold Italic', 'zahrah-italic-600-fallback', serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 24.2px;
}

.columns.variant3 > div {
    height: 100%;
}

.columns.variant3 > div > div > picture > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.columns.variant3 h4 {
    font-family: 'Gilroy Bold', gilroy-bold-normal-bold-fallback, sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.columns.variant3 h2 {
    font-family: 'Zahrah SemiBold Italic', 'zahrah-italic-600-fallback', serif;
    font-size: 45px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: -1px;
    line-height: 35px;
    margin: 15px 0 0;
}

.columns.variant3.columns-3-cols > div > div:first-child {
    display: none;
}

@media (min-width: 900px) {
    .section > div.columns-wrapper {
        max-width: 1548px;
    }

    .columns > div {
        display: flex;
        align-items: center;
        flex-direction: unset;
    }

    .columns > div > div {
        flex: 1;
        margin-left: 32px;
    }

    .columns > div > div:first-of-type {
        margin-left: unset;
    }

    /* Variant 2 */

    .columns.variant2, .columns.variant2 > div {
        max-height: 656px;
        font-size: 22px;
    }

    .columns.variant2.columns-2-cols > div > div:first-child {
        flex: 2;
        display: block;
    }

    .columns.variant2.columns-2-cols > div > div:last-child img {
        max-width: 455px;
    }

    .columns.variant2 h2 {
        margin: 30px 0;
        font-size: 73px;
        line-height: 58.4px;
    }

    /* Variant 3 */

    .columns.variant3, .columns.variant3 > div {
        max-height: 603px;
        font-size: 22px;
    }

    .columns.variant3 h4 {
        font-size: 22px;
        letter-spacing: 4px;
    }
    
    .columns.variant3 h2 {
        font-size: 73px;
        line-height: 58.4px;
        margin: 20px 0;
    }

    .columns.variant3.columns-3-cols > div > div:first-child {
        display: block;
        flex: 2;
        align-self: stretch;
    }

    .columns.variant3.columns-3-cols > div > div:nth-child(2) {
        flex: 3;
    }

    .columns.variant3.columns-3-cols > div > div:last-child {
        flex: 5;
        align-self: stretch;
    }
}